<!--
    START: Footer Additional Classes: .nk-footer-transparent
-->
<footer class="nk-footer" style="background-color: #101010;">

    <div class="nk-footer-cont nk-footer-cont-md">
        <div class="container text-center" style="position: relative;">
            <div class="row vertical-gap sm-gap align-items-center">

                <div class="col-lg-5 text-lg-left">
                    <div class="nk-footer-text text-gray">
                        <p>2019 &copy; Jamie Smith Estates</p>
                    </div>
                </div>

                <div class="col-lg-2">
                    <a class="nk-footer-scroll-top-btn-2 nk-anchor  text-gray-1" href="#top">
                        Go To Top
                    </a>
                </div>
                
            </div>
        </div>
    </div>
</footer>
<!-- END: Footer -->


<!-- START: Scripts -->

<!-- Object Fit Polyfill -->
<script src="/public/assets/vendor/object-fit-images/dist/ofi.min.js"></script>

<!-- ImagesLoaded -->
<script src="/public/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>

<!-- GSAP -->
<script src="/public/assets/vendor/gsap/src/minified/TweenMax.min.js"></script>
<script src="/public/assets/vendor/gsap/src/minified/plugins/ScrollToPlugin.min.js"></script>

<!-- Popper -->
<script src="/public/assets/vendor/popper.js/dist/umd/popper.min.js"></script>

<!-- Bootstrap -->
<script src="/public/assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Sticky Kit -->
<script src="/public/assets/vendor/sticky-kit/dist/sticky-kit.min.js"></script>

<!-- Jarallax -->
<script src="/public/assets/vendor/jarallax/dist/jarallax.min.js"></script>
<script src="/public/assets/vendor/jarallax/dist/jarallax-video.min.js"></script>

<!-- Flickity -->
<script src="/public/assets/vendor/flickity/dist/flickity.pkgd.min.js"></script>

<!-- Isotope -->
<script src="/public/assets/vendor/isotope-layout/dist/isotope.pkgd.min.js"></script>

<!-- Photoswipe -->
<script src="/public/assets/vendor/photoswipe/dist/photoswipe.min.js"></script>
<script src="/public/assets/vendor/photoswipe/dist/photoswipe-ui-default.min.js"></script>

<!-- JustifiedGallery -->
<script src="/public/assets/vendor/justifiedGallery/dist/js/jquery.justifiedGallery.min.js"></script>

<!-- Jquery Validation -->
<script src="/public/assets/vendor/jquery-validation/dist/jquery.validate.min.js"></script>

<!-- Hammer.js -->
<script src="/public/assets/vendor/hammerjs/hammer.min.js"></script>

<!-- NanoSroller -->
<script src="/public/assets/vendor/nanoscroller/bin/javascripts/jquery.nanoscroller.js"></script>

<!-- Keymaster -->
<script src="/public/assets/vendor/keymaster/keymaster.js"></script>


<!-- Skylith -->
<script src="/public/assets/js/skylith.min.js"></script>
<script src="/public/assets/js/skylith-init.js"></script>
<!-- END: Scripts -->