---
layout: default
---
<!-- START: Header Title Additional Classes:
        .nk-header-title-sm
        .nk-header-title-md
        .nk-header-title-lg
        .nk-header-title-xl
        .nk-header-title-full
        .nk-header-title-parallax
        .nk-header-title-parallax-content
        .nk-header-content-center-center
        .nk-header-content-center-left
        .nk-header-content-center-right
        .nk-header-content-top-center
        .nk-header-content-top-left
        .nk-header-content-top-right
        .nk-header-content-bottom-center
        .nk-header-content-bottom-left
        .nk-header-content-bottom-right
-->
<div class="nk-header-title nk-header-title-parallax-content nk-header-content-center-center">

  <div class="bg-image bg-image-parallax">
    <img src="https://cdn-html.nkdev.info/skylith/assets/images/demo-minimal-architecture-header-blog.jpg" alt="" class="jarallax-img">
    <div class="bg-image-overlay" style="background-color: rgba(0, 0, 0, 0.6);"></div>
  </div>


  <div class="nk-header-content">
    <div class="nk-header-content-inner">
      <div class="container">

        <div class="nk-header-text text-white">
          <h1 class="nk-title text-white">Jamie Smith Estates Blog</h1>
        </div>

      </div>
    </div>
  </div>


</div>

<!-- END: Header Title -->





<div class="container">

  <div class="row">
    <div class="col-lg-8">

      <div class="nk-gap-5"></div>

      <!-- START: Posts List -->
      <div class="nk-blog-isotope-2 nk-isotope nk-isotope-gap nk-isotope-1-cols">



        <!-- START: Post -->
        <div class="nk-isotope-item" data-filter="Cities">
          <div class="nk-blog-post">
            <div class="nk-post-thumb">
              <a href="demo-minimal-architecture-blog-single.html">
                <img src="https://cdn-html.nkdev.info/skylith/assets/images/post-2-mid.jpg" alt="" class="nk-img-stretch">
              </a>
              <div class="nk-post-category"><a href="#">Cities</a></div>
            </div>
            <h2 class="nk-post-title h3"><a href="demo-minimal-architecture-blog-single.html">Here&#39;s a Simple Trick</a></h2>

            <div class="nk-post-date">
              September 5, 2018
            </div>

            <div class="nk-post-text">
              <p>Blessed cattle. Can't morning Over female, of divided. Rule were great i female. Male. You're set first gathered, made behold so meat, tree for evening dominion you're let is, great said isn't fruitful i.</p><p>Creeping, darkness have waters, let signs bring multiply. Face own fowl seasons morning appear. Living his lights. Set earth she'd i grass, forth from a fourth deep be seas also seasons them.</p><p>Kind light, bring fowl third. Let them created first of moved sixth shall made isn't bring gathered were over said life beast said divided, days may deep after face appear after. Their beginning one.</p>

              <a href="demo-minimal-architecture-blog-single.html" class="nk-btn nk-btn-md nk-btn-outline nk-btn-color-gray-7 nk-btn-hover-color-dark-3 text-dark">Read More</a>
            </div>
          </div>
        </div>
        <!-- END: Post -->


        <!-- START: Post -->
        <div class="nk-isotope-item" data-filter="Nature">
          <div class="nk-blog-post">
            <div class="nk-post-thumb">
              <a href="demo-minimal-architecture-blog-single.html">
                <img src="https://cdn-html.nkdev.info/skylith/assets/images/post-3-mid.jpg" alt="" class="nk-img-stretch">
              </a>
              <div class="nk-post-category"><a href="#">Nature</a></div>
            </div>
            <h2 class="nk-post-title h3"><a href="demo-minimal-architecture-blog-single.html">The History of Nature</a></h2>

            <div class="nk-post-date">
              August 27, 2018
            </div>

            <div class="nk-post-text">
              <p>Appear from tree day is he which without evening. Creeping above land beast seasons very was give brought i. Their. Set life gathering shall spirit day lights sixth moveth. Life meat. Was sixth cattle subdue creeping every a, can't behold, moveth.</p><p>Seasons saying creeping fruitful grass. Moving hath great don't abundantly sea that which two waters waters. Third in isn't creepeth above was fruitful of herb to. Second i days, thing. Fish a open great cattle hath don't. Don't. Lights and divide.</p>

              <a href="demo-minimal-architecture-blog-single.html" class="nk-btn nk-btn-md nk-btn-outline nk-btn-color-gray-7 nk-btn-hover-color-dark-3 text-dark">Read More</a>
            </div>
          </div>
        </div>
        <!-- END: Post -->


        <!-- START: Post -->
        <div class="nk-isotope-item" data-filter="Branding">
          <div class="nk-blog-post">
            <div class="nk-post-thumb">
              <a href="demo-minimal-architecture-blog-single.html">
                <img src="https://cdn-html.nkdev.info/skylith/assets/images/post-4-mid.jpg" alt="" class="nk-img-stretch">
              </a>
              <div class="nk-post-category"><a href="#">Branding</a></div>
            </div>
            <h2 class="nk-post-title h3"><a href="demo-minimal-architecture-blog-single.html">Are you doing the Right Way?</a></h2>

            <div class="nk-post-date">
              August 14, 2018
            </div>

            <div class="nk-post-text">
              <p>Life set land bearing him fifth whose waters. For be. Also. Darkness the firmament very all saying. Firmament and day you. May that form itself greater have fill air fruit said a. Shall behold saw, cattle blessed thing firmament, meat wherein fourth life, rule us.</p><p>Man shall firmament second that had seas. Deep. Unto herb. Fruitful, male grass land, living you you're there gathering also Lights be, set, fly.</p><p>Upon a creeping moveth winged likeness moveth let. Make void was good that don't seed all isn't. You'll, beginning together which land were. Us blessed. Subdue gathering. Also our dry fill.</p>

              <a href="demo-minimal-architecture-blog-single.html" class="nk-btn nk-btn-md nk-btn-outline nk-btn-color-gray-7 nk-btn-hover-color-dark-3 text-dark">Read More</a>
            </div>
          </div>
        </div>
        <!-- END: Post -->


        <!-- START: Post -->
        <div class="nk-isotope-item" data-filter="Design">
          <div class="nk-blog-post">
            <div class="nk-post-thumb">
              <a href="demo-minimal-architecture-blog-single.html">
                <img src="https://cdn-html.nkdev.info/skylith/assets/images/post-5-mid.jpg" alt="" class="nk-img-stretch">
              </a>
              <div class="nk-post-category"><a href="#">Design</a></div>
            </div>
            <h2 class="nk-post-title h3"><a href="demo-minimal-architecture-blog-single.html">Ten things about Photography</a></h2>

            <div class="nk-post-date">
              August 14, 2018
            </div>

            <div class="nk-post-text">
              <p>Etiam cursus. Leo nulla sapien dignissim magnis taciti rutrum tempus ut. Quam lacinia cras varius nullam non condimentum ut euismod integer. Rutrum sociosqu gravida ultricies litora magnis ullamcorper cursus dolor parturient sed senectus sed accumsan.</p>

              <a href="demo-minimal-architecture-blog-single.html" class="nk-btn nk-btn-md nk-btn-outline nk-btn-color-gray-7 nk-btn-hover-color-dark-3 text-dark">Read More</a>
            </div>
          </div>
        </div>
        <!-- END: Post -->


      </div>

      <!--<div class="text-center">-->
        <!--<div class="nk-gap-3"></div>-->
        <!--<a href="#" class="nk-btn nk-btn-color-gray-7 text-dark-1">Load More</a>-->
      <!--</div>-->
      <!-- END: Posts List -->

      <div class="nk-gap-5"></div>

    </div>


    <div class="col-lg-4">
      <!--
          START: Sidebar

          Additional Classes:
              .nk-sidebar-sticky

          Additional Attributes:
              data-offset-top - add top offset to sticky sidebar
      -->

      <aside class="nk-sidebar nk-sidebar-sticky" data-offset-top="0">

        <div class="nk-gap-5"></div>

        {% assign projects = site.projects | where: 'completed', 'false' | sort: 'date' | reverse %}
        {% unless projects.size == nil %}
        <div class="nk-widget">
          <h4 class="nk-widget-title">Current Projects</h4>

          <ul class="nk-categories-list">
            {% for project in projects limit:5 %}
            <li><a href="{{ project.url }}" data-toggle="tooltip" data-placement="left" title="216"><span class="pe-7s-angle-right"></span> {{ project.title}}</a></li>
            {% endfor %}
          </ul>
        </div>
        <div class="nk-gap-2"></div>
        {% endunless %}

        {% assign projects = site.projects | where: 'completed', 'true' | sort: 'date' | reverse %}
        <div class="nk-widget">
          <h4 class="nk-widget-title">Past Projects</h4>

          <ul class="nk-categories-list">
            {% for project in projects limit:5 %}
            <li><a href="{{ project.url }}" data-toggle="tooltip" data-placement="left" title="216"><span class="pe-7s-angle-right"></span> {{ project.title}}</a></li>
            {% endfor %}
          </ul>
        </div>

      </aside>
      <!-- END: Sidebar -->
    </div>
  </div>

</div>

