---
layout: default
---

<!-- START: Slider -->
<div class="nk-slider bg-dark" data-show-nav="true" data-show-bullets="false" data-show-arrows="false" data-autoplay="10000" data-content-centering="center" data-height="670">
    <div class="nk-slider-item">
        <img src="/public/custom/images/home/slider/FerryCottageFront-1920x1100.jpg" alt="Jamie Smith Estates, Property Developer, Henley-on-Thames" class="nk-slider-image">
        <div class="nk-slider-content">
            <div class="nk-gap-3"></div>
            <h2 class="text-white text-uppercase display-5">Beautiful traditional<br>homes</h2>
            <div class="nk-gap"></div>
            <a href="/projects/" class="nk-btn nk-btn-outline nk-btn-color-white">Our Projects</a>
        </div>
    </div>
    <div class="nk-slider-item">
        <img src="/public/custom/images/home/slider/ThePinesRear.jpg" alt="Jamie Smith Estates, Property Developer, Henley-on-Thames" class="nk-slider-image">
        <div class="nk-slider-content">
            <div class="nk-gap-3"></div>
            <h2 class="text-white text-uppercase display-5">Quality <br>craftsmanship</h2>
            <div class="nk-gap"></div>
            <a href="/projects/" class="nk-btn nk-btn-outline nk-btn-color-white">Our Projects</a>
        </div>
    </div>
    <div class="nk-slider-item">
        <img src="/public/custom/images/home/slider/ThePinesFront.jpg" alt="Jamie Smith Estates, Property Developer, Henley-on-Thames" class="nk-slider-image">
        <div class="nk-slider-content">
            <div class="nk-gap-3"></div>
            <h2 class="text-white text-uppercase display-5">Great attention <br>to detail</h2>
            <div class="nk-gap"></div>
            <a href="/projects/" class="nk-btn nk-btn-outline nk-btn-color-white">Our Projects</a>
        </div>
    </div>
</div>
<!-- END: Slider -->

<!-- START: Who We Are -->
<div class="container">
    <div class="nk-gap-5"></div>
    <div class="row">
        <div class="col-md-3">
            <img class="nk-img-stretch" src="/public/custom/images/home/3DPlan.jpg" alt="Jamie Smith Estates, Property Developer, Henley-on-Thames">
        </div>

        <div class="col-md-3">
            <div class="nk-gap-5"></div>
            <img class="nk-img-stretch" src="/public/custom/images/home/3DPlan2.jpg" alt="Jamie Smith Estates, Property Developer, Henley-on-Thames">
        </div>

        <div class="col-md-4 offset-md-1">
            <div class="nk-gap-5"></div>
            <div class="nk-subtitle-3">Who We Are</div>
            <h2 class="h2 text-uppercase">Property<br> Developers</h2>

            <div class="nk-gap"></div>
            <h3>
                Building beautiful traditional homes in the Henley area for over 20 years with quality craftsmanship and great attention to detail.
            </h3>

            <div class="nk-gap"></div>
            <a href="/about/" class="nk-btn nk-btn-md nk-btn-outline nk-btn-color-gray-7 nk-btn-hover-color-dark-2 text-dark">Read More</a>
        </div>
    </div>
    <div class="nk-gap-5"></div>
</div>
<!-- END: Who We Are -->


<!-- START: Works Categories -->
<div class="container-fluid">
    <div class="nk-portfolio-list nk-isotope nk-isotope-3-cols">
        <div class="nk-isotope-item">
            <div class="nk-portfolio-item nk-portfolio-item-info-style-1 hover">
                <img src="/public/custom/images/home/HilchoiceFireplace.jpg" alt="" class="nk-portfolio-item-image">
                <div class="nk-portfolio-item-info nk-portfolio-item-info-bottom">
                    <div>
                        <h2 class="nk-portfolio-item-title text-uppercase h4">Traditional <br>Features</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="nk-isotope-item">
            <div class="nk-portfolio-item nk-portfolio-item-info-style-1 hover">
                <img src="/public/custom/images/home/HilchoiceDining.jpg" alt="" class="nk-portfolio-item-image">
                <div class="nk-portfolio-item-info nk-portfolio-item-info-bottom">
                    <div>
                        <h2 class="nk-portfolio-item-title text-uppercase h4">Amazing <br>Spaces</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="nk-isotope-item">
            <div class="nk-portfolio-item nk-portfolio-item-info-style-1 hover">
                <img src="/public/custom/images/home/StAndrewsKitchen.jpg" alt="" class="nk-portfolio-item-image">
                <div class="nk-portfolio-item-info nk-portfolio-item-info-bottom">
                    <div>
                        <h2 class="nk-portfolio-item-title text-uppercase h4">Beautiful <br>Interiors</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: Works Categories -->


<!-- START: testimonials -->
<div class="bg-dark">
    <div class="container">

        <div class="nk-gap-5"></div>

        <div class="row">

            <div class="col-md-4 offset-md-1">
                <div class="nk-subtitle-3 text-white">Testimonials</div>
                <h2 class="h2 text-uppercase text-white">What our <br> Customers say</h2>

                <div class="nk-gap"></div>

                <blockquote class="text-white">"Thank you for creating such as beautiful home. Everywhere we look, It's finished in such detail, we love it."</blockquote>
                <p>Anna and Billy, 2018</p>
            </div>

            <div class="col-md-5 offset-md-1">
                <div class="nk-gap-3"></div>

                <blockquote class="text-white">"Jamie takes real pride in his craftsmanship and that of his team, as a result the finish was to a high quality standard. He was attentive to our requirements during the build and post purchase has attended promptly to the normal minor snagging issues."</blockquote>
                <p>Alan Trotter, 2017</p>
            </div>
        </div>

        <div class="nk-gap-3"></div>
    </div>
</div>
<!-- END: testimonials -->


{% if site.show_blog %}
<!-- START: Blog -->
<div class="bg-white">
    <div class="container">
        <div class="nk-gap-5"></div>

        <div class="ml-60">
            <div class="nk-subtitle-3">Blog</div>
            <h2 class="h2 text-uppercase">Some of Our Latest <br> News</h2>
        </div>

        <div class="nk-gap-2"></div>

        <div class="nk-blog-isotope nk-isotope nk-blog-isotope-no-shadow nk-isotope-gap nk-isotope-3-cols">

            {% for post in site.posts limit:3 %}

            <div class="nk-isotope-item" data-filter="Nature">
                <div class="nk-blog-post">
                    <div class="nk-post-thumb">
                        <a href="{{ post.url }}">
                            <img class="nk-img-stretch" src="/public/custom/images/home/FarmRdFront.jpg" alt="Jamie Smith Estates, Property Developer, Henley-on-Thames" >
                        </a>
                    </div>

                    <h2 class="nk-post-title h6 text-uppercase">
                        <a href="{{ post.url }}">{{ post.title }}</a>
                    </h2>

                    <div class="nk-post-date">
                        {{ post.date | date_to_string }}
                    </div>

                    <div class="nk-post-text">
                        {{ post.strapline }}
                    </div>
                </div>
            </div>

            {% endfor %}

        </div>

        <div class="nk-gap-2"></div>

        <!-- <div class="text-center">-->
        <!--    <a href="#" class="nk-btn nk-btn-md nk-btn-outline nk-btn-color-gray-7 nk-btn-hover-color-dark-2 text-dark">View More</a>-->
        <!-- </div>-->
        <!-- <div class="nk-gap-5"></div>-->
    </div>
</div>
<!-- END: Blog -->
{% endif %}

<!-- START: Let's Work Together -->
<div class="nk-box bg-dark-1 text-center">
    <div class="nk-gap-5"></div>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h2 class="text-uppercase text-white">Let's work together</h2>
                <div class="nk-gap-1 mnt-20"></div>
                <p class="text-white">Let us know what you're looking for in a new property. We'll take a look and see if this could be the start of something beautiful.</p>
                <div class="nk-gap mnt-9"></div>
                <a href="/contact/" class="nk-btn nk-btn-outline nk-btn-color-gray nk-btn-hover-color-white text-white">Contact Us</a>
            </div>
        </div>
    </div>
    <div class="nk-gap-5"></div>
</div>
<!-- END: Let's Work Together -->
