---
layout: default
---

<!-- START: Header Title Additional Classes:
        .nk-header-title-sm
        .nk-header-title-md
        .nk-header-title-lg
        .nk-header-title-xl
        .nk-header-title-full
        .nk-header-title-parallax
        .nk-header-title-parallax-content
        .nk-header-content-center-center
        .nk-header-content-center-left
        .nk-header-content-center-right
        .nk-header-content-top-center
        .nk-header-content-top-left
        .nk-header-content-top-right
        .nk-header-content-bottom-center
        .nk-header-content-bottom-left
        .nk-header-content-bottom-right
-->
<div class="nk-header-title nk-header-title-parallax-content nk-header-content-center-center">

  <div class="bg-image bg-image-parallax">
    <img src="/public/custom/images/blog/ThePinesRear.jpg" alt="" class="jarallax-img">
    <div class="bg-image-overlay" style="background-color: rgba(0, 0, 0, 0.6);"></div>
  </div>


  <div class="nk-header-content">
    <div class="nk-header-content-inner">
      <div class="container">

        <div class="nk-header-text text-white">
          <h1 class="nk-title text-white">Jamie Smith Estates Project Updates</h1>
        </div>

      </div>
    </div>
  </div>


</div>
<!-- END: Header Title -->


<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <div class="nk-gap-5"></div>

      <!-- START: Post -->
      <div class="nk-blog-post nk-blog-post-single nk-blog-post-single-style-2">
        <img class="nk-post-img" src="/public/custom/images/blog/{{ page.image }}" alt="">

        <h1 class="h2">{{ page.title }}</h1>

        <div class="nk-post-meta">
          <div class="nk-post-date">{{ page.date | date_to_string}}</div>
        </div>

        <!-- START: Post Text -->
        <div class="nk-post-text">
          {{ content }}
          <!--<a href="/projects/{{page.project}}/" class="nk-btn nk-btn-md nk-btn-outline nk-btn-color-gray-7 nk-btn-hover-color-dark-3 text-dark">View Project</a>-->
          <a href="/projects/{{page.project}}/" class="nk-btn nk-btn-md nk-btn-outline nk-btn-color-dark-1 nk-btn-hover-color-dark-3 text-dark">View Project</a>
        </div>
        <!-- END: Post Text -->

        <!-- START: Post Share -->
<!--        <div class="nk-post-share-2">-->
<!--          <a href="#" title="Share page on Facebook" data-share="facebook"><span class="fa fa-facebook-official"></span> Facebook</a>-->
<!--          <a href="#" title="Share page on Google+" data-share="google-plus"><span class="fa fa-google"></span> Google+</a>-->
<!--          <a href="#" title="Share page on Twitter" data-share="twitter"><span class="fa fa-twitter"></span> Twitter</a>-->
<!--          <a href="#" title="Share page on Pinterest" data-share="pinterest"><span class="fa fa-pinterest"></span> Pinterest</a>-->
<!--        </div>-->
        <!-- END: Post Share -->
      </div>
      <!-- END: Post -->

      <div class="nk-gap-5"></div>
    </div>

    <div class="col-lg-4">
      <!--
          START: Sidebar

          Additional Classes:
              .nk-sidebar-sticky

          Additional Attributes:
              data-offset-top - add top offset to sticky sidebar
      -->

      <aside class="nk-sidebar nk-sidebar-sticky" data-offset-top="0">

        <div class="nk-gap-5"></div>

        {% assign projects = site.projects | where: 'completed', 'false' | sort: 'date' | reverse %}

        {% unless projects.size == nil %}
        <div class="nk-widget">
          <h4 class="nk-widget-title">Current Projects</h4>

          <ul class="nk-categories-list">
            {% for project in projects limit:5 %}
            <li><a href="{{ project.url }}" data-toggle="tooltip" data-placement="left" title="216"><span class="pe-7s-angle-right"></span> {{ project.title}}</a></li>
            {% endfor %}
          </ul>
        </div>
        <div class="nk-gap-2"></div>
        {% endunless %}

        {% assign projects = site.projects | where: 'completed', 'true' | sort: 'date' | reverse %}
        <div class="nk-widget">
          <h4 class="nk-widget-title">Completed Projects</h4>

          <ul class="nk-categories-list">
            {% for project in projects limit:5 %}
            <li><a href="{{ project.url }}" data-toggle="tooltip" data-placement="left" title="216"><span class="pe-7s-angle-right"></span> {{ project.title}}</a></li>
            {% endfor %}
          </ul>
        </div>

      </aside>
      <!-- END: Sidebar -->
    </div>
  </div>
</div>

<!-- START: Pagination -->
<div class="nk-pagination nk-pagination-center">
  <div class="container">
    {% if page.previous.url %}
    <a class="nk-pagination-prev" href="{{ page.previous.url }}"><span class="pe-7s-angle-left"></span> {{ page.previous.title }}</a>
    {% endif %}
    <a class="nk-pagination-center" href="#"><span class="nk-icon-squares"></span></a>
    {% if page.next.url %}
    <a class="nk-pagination-next" href="{{ page.next.url }}">{{ page.next.title }}<span class="pe-7s-angle-right"></span></a>
    {% endif %}
  </div>
</div>
<!-- END: Pagination -->

