---
layout: default
---

<div class="container">

    {{ page.content }}

    <div class="nk-gap-4"></div>

    <div class="nk-portfolio-list nk-isotope nk-isotope-3-cols nk-isotope-gap nk-popup-gallery">

        {% assign projects = site.projects | sort: 'date' | reverse %}
        {% for project in projects limit:12 %}

        <div class="nk-isotope-item" data-filter="Interior">
            <div class="nk-portfolio-item nk-portfolio-item-info-style-6">
                <a href="{{ project.url }}" class="nk-portfolio-item-link"></a>
                <div class="nk-portfolio-item-image-wrap">
                    {% assign image = project.title | append: '-listing.jpg' | replace: ' ', '-' %}
                    <img class="nk-portfolio-item-image" src="/public/custom/images/projects/{{ image }}" alt="Property Developers Project, Henley-on-Thames">
                </div>
                <div class="nk-portfolio-item-info">
                    <div>
                        <h2 class="nk-portfolio-item-title h6 mb0">{{ project.title }}</h2>
                        <div class="nk-portfolio-item-category mt-0">
                            <div style="height: 1em">{% if project.completed %}Completed {{ project.date | date: "%Y" }}
                            {% else %}<span style="font-size: 1.25em; color: darkred">Due for completion {{ project.date | date: "%B %Y" }}</span>
                            {% endif %}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}

    </div>

    <div class="nk-gap-4"></div>
</div>
